*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navContainer{
    display:flex;
    align-content:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    flex-direction:row;
    background:grey;
    height:8rem;
    text-decoration:none;
    
}
a{
    
    text-decoration:none;
    color:black;
    background:white;
    padding:1rem;
    border-style:solid;
    border-width:2px;
    border-color:black;
}

