*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Comic Sans MS;
}

header{
    display:flex;
}

#logo1{
    height: 150px;
    display:flex;
    position:absolute;
    margin-left:75%;
    margin-top:27%;
    z-index: 1;
    
}

#headerDiv{
    margin-left: 70px;
    display:inline;
}

#h1Title{
    font-size:4rem;
    margin-top:-30%;
    margin-left:4%;
    display:inline-flex;
    position:absolute;
}

#imgHockey_1{
    height: 100px;
    width: 115px;
    margin-left:20px;
    margin-top:25px;
    display:none;

}
#sectionIndex{
    margin-left: 7%;
    margin-right: 7%;
}
#image1{
    height:40%;
    width:90%;
    margin-left:3%;
    margin-top: 50px;
    object-fit:cover;
    display:flex;
    position:relative;
}

#navbar{
    position: inline;
    margin-top:2%;
    margin-left: 5%;
    display: grid;
    gap: 60px;
    text-decoration:none;
}

#upcomingTitle{
    display:flex;
    position:relative;
    background-color:black;
    color:aliceblue;
    text-align:center;
    margin-top:-48.7%;

    
}

#eventList{
    margin-left:20%;
}

dt{
    margin-top:30px;
}